.History {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.keyCont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px;
}

.key {
  font-size: 20px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
