.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    padding: 0px 50px;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    padding: 10px;
}

header ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.vertLine {
    background-color: #d1d1d1;
    height: 32px;
    width: 1px;
}

.logo {
    width: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    header {
        gap: 20px;
    }

    .logo {
        font-size: 20px;
    }
}
